@* Show confimration of booking a particular class  *@
@* Controller: CalendarItemsController  *@

@model GymBooker1.Models.CalendarItem


@section containerFluid
{

    <div>

        <div class="text-center width95Centre">
            <h3>Class booked!</h3>
            <h4>@Model.GymClass.Name</h4>
            <h4>Instructor: @Model.Instructor</h4>
            <h4>@Model.Hall</h4>
            <h4>@Model.GymClassTime</h4>
            <br />
            <p class="text-center">@Html.ActionLink("BOOK ANOTHER CLASS", "Index", "CalendarItems", new { fitnessClass = "ALL" }, new { @class = "btn-lg btn-primary mb-6 rounded", onClick = "buttonClick()" })</p>
            <br />
            <div class="hidden-xs win-width600">
                <img width="600" src=@ViewBag.pic0 alt=@Model.GymClass.Name />
            </div>
            <div class="visible-xs">
                <img class="max-width100" src=@ViewBag.pic0 alt=@Model.GymClass.Name />
            </div>
        </div>


    </div>
}
