@* Admin page to delete a class *@
@* Controller: CalendarItemsController  *@

@model GymBooker1.Models.CalendarItem


<div>
    <br />
    @if (ViewBag.UsersInClass == true)
    {
        <h3>Delete class from live calendar</h3>
        <br />
        <p class="warning-message">Cannot delete a class that members have booked</p>
    }
    else
    {
        <h3>Are you sure you want to delete this class?</h3>
    }

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.GymClass.Name)</dt>
        <dd>@Html.DisplayFor(model => model.GymClass.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.GymClassTime)</dt>
        <dd>@Html.DisplayFor(model => model.GymClassTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.Duration)</dt>
        <dd>@Html.DisplayFor(model => model.Duration) mins</dd>

        <dt>@Html.DisplayNameFor(model => model.Hall)</dt>
        <dd>@Html.DisplayFor(model => model.Hall)</dd>

        <dt>@Html.DisplayNameFor(model => model.Instructor)</dt>
        <dd>@Html.DisplayFor(model => model.Instructor)</dd>

        <dt>@Html.DisplayNameFor(model => model.MaxPeople)</dt>
        <dd>@Html.DisplayFor(model => model.MaxPeople)</dd>

    </dl>

    @if (ViewBag.UsersInClass == true)
    {
        <div>
            @Html.ActionLink("Back to Calendar", "CalendarViewAdmin")
        </div>

    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn btn-danger" /> | 
            @Html.ActionLink("Back to Calendar", "CalendarViewAdmin")
        </div>
        }
    }

</div>
